.bf_profile_datetime { font-size: 4pt; }
.bf_profile_size { font-size: 4pt; font-weight: bold; }
.bf_profile_count { font-size: 4pt; }
.bf_profile_ratio { font-size: 4pt; }
.bf_profile_speed { font-size: 4pt; }
.bf_profile_client { font-size: 4pt; }
