.torrentfield-filelist-file
{
  font-size: 10pt;
  line-height: 10pt;
  color: #000000;
}

.torrentfield-filelist-item-list { margin-left: 20px; margin-bottom: 10px; display: none; }

.torrentfield-filelist-folder
{
  font-size: 10pt;
  line-height: 10pt;
  color: #027AC6;

  /*font-weight: bold;*/
  cursor: pointer;
}

.torrentfield-filelist-folder:hover { color: #0062A0; }

.torrentfield-item-description { font-size: 15pt; }
